:root {
  --Primary-color: rgb(29, 33, 41);
  --Secondary-color: rgb(187, 187, 187);
  --Light-color: white;
  --Danger-color: #dc3545;
  --Shaders-color: rgba(0, 0, 0, 0.75);
  --text-primary-color: rgb(29, 33, 41);
  ;
  --text-secunday-color: white;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--Light-color);
  margin: 0;
}

h4,
h3 {
  color: var(--text-secunday-color);
}

th,
td,
table {
  color: var(--text-primary-color);
  font-size: 20px;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
}

button {
  color: var(--text-primary-color);
  text-decoration: none;
  background-color: var(--Light-color);
  font-size: 100%;
  border: none;
  text-align: center;
}

a:hover {
  color: var(--text-primary-color);
}

table {
  border-collapse: collapse;
}

.urlFile {
  color: var(--text-primary-color);
  background-color: var(--Light-color);
  border: none;
  width: 100%;
  margin-bottom: 1%;
  outline: none;
}

h1 {
  color: var(--text-primary-color);
}

.grids {
  display: grid;
  grid-template-columns: 0.5fr 1.48fr 1.25fr;
  grid-template-rows: 0.1fr 1.45fr 1.45fr;
  gap: 0px 0px;
  grid-template-areas:
    "Menu Menu Menu"
    "File Data Data"
    "File Data Data";
}

.File {
  grid-area: File;
  height: 100%;
  width: 17%;
  background-color: var(--Primary-color);
  margin-right: 1px var(--Light-color) solid;
  position: fixed;
  -webkit-box-shadow: 0px 0px 5px 0px var(--Shaders-color);
  -moz-box-shadow: 0px 0px 5px 0px var(--Shaders-color);
  box-shadow: 0px 0px 5px 0px var(--Shaders-color);
}

.Menu {
  grid-area: Menu;
  padding-top: 0.5%;
  background-color: var(--Primary-color);
  color: var(--Light-color);
  margin-bottom: 1%;
  width: 100%;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 0px var(--Shaders-color);
  -moz-box-shadow: 0px 0px 5px 0px var(--Shaders-color);
  box-shadow: 0px 0px 5px 0px var(--Shaders-color);
}

.Data {
  grid-area: Data;
  padding: .5%;
  z-index: -1;
  margin-bottom: 25px;
  position: fixed;
  left: 17%;
  top: 60px;
  width: 84%;
  height: 100%;
  overflow: scroll;
}

#process {
  background-color: var(--text-secunday-color);
  border-radius: 5px;
  z-index:-1
}

#process-back {
  background-color:var(--Secondary-color);
  border-radius: 5px;
  position: relative;
  z-index:-1
}

#SearchFile {
  display: inline-block;
  width: 50%;
  border-radius: 0px 3px 3px 0px;
}



a,
h1,
button {
  animation: slide-down 0.3s ease-out;
}

.info {
  margin-top: .5%;
  margin-left: -0.5%;
  color: var(--text-primary-color);
}

.info:hover {
  color: var(--text-primary-color);
}

.icon {
  background-color: var(--Light-color);
  color: var(--Shaders-color);
  ;
  border-radius: 3%;
  width: 30%;
}

.Delete {
  color: var(--Danger-color);
}

.Delete:hover {
  color: var(--Danger-color);
}

@media only screen and (max-width: 1600px) and (min-width: 1000px) {
  .File {
    margin-top: -3%;
    height: 115%;
  }

  .Data {
    margin-top: .5%;
  }

  h1,
  h2,
  h4,
  h5,
  h6,
  .form-control {
    size: 10px;
  }

  table,
  td,
  th,
  tr {
    font-size: 15px;
  }

  #UploadFile {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .Data {
    margin-top: -1%;
  }

  .IconSearch {
    display: none;
    margin-top: -18%;
  }

  #SearchFile {
    border-radius: 3px 3px 3px 3px;
    width: 100%;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.dropdown-item,
.dropdown-menu {
  color: var(--text-primary-color);
  background-color: var(--Light-color);
}

.dropdown-item:hover {
  color: var(--text-primary-color);
  background-color: var(--Light-color);
}

/* #Creator: Mateo Fonseca (MatheoFonck73) */