@media only screen and (min-width: 1700px) {
    #SearchFile {
        width: 100%;
    }

    .CloseSearch {
        position: relative;
        left: 190px;
    }

    .darkmode {
        width: 40px;
        height: 40px;
        margin-top: -47px;
        margin-right: 5px;
    }

    .Bar {
        height: 50px;
    }
}

@media only screen and (min-width: 1590px) and (max-width: 1700px) {
    .CloseSearch {
        position: relative;
        left: 190px;
    }

    .Bar {
        height: 48px;
    }

    #SearchFile {
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1590px) {
    .CloseSearch {
        position: relative;
        left: 190px;
        bottom: 35px;
    }

    .Bar {
        height: 50px;
    }

    #SearchFile {
        width: 100%;
    }
}

@media only screen and (min-width: 1100px) {

    .darkmode {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-right: 5px;
    }
    #ClearInput {
        position: relative;
        right: 5px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1100px) {
    .Menu {
        margin-top: -3%;
        height: 115%;
    }

    h1,
    h2,
    h4,
    h5,
    h6 {
        size: 10px;
    }

    table,
    td,
    th,
    tr {
        font-size: 15px;
    }

    .CloseSearch {
        position: relative;
        left: 180px;
        bottom: 35px;
    }

    #SearchFile {
        width: 100%;
    }

    #UploadFile {
        font-size: 10px;

    }

    .Bar {
        height: 48px;
    }


}

@media only screen and (min-width: 745px) and (max-width: 1100px) {
    .CloseSearch {
        position: relative;
        width: 15%;
        left: 170px;
        bottom: 35px;
    }
    #ClearInput {
        position: relative;
        right: 10px;
    }
    #SearchFile {
        margin-top: 1px;
        width: 100%;
    }

    .IconSearch {
        margin-top: 1px;
    }

    .Bar {
        height: 48px;
    }

    .Data {
        left: auto;
        width: 100%;
        top: 50px;
    }

    .icon-folder {
        display: none;
    }

    .Button-M {
        display: block;
    }
    .darkmode {
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-right: 5px;
    }
    .Menu{
        width: 30%;
    }
}

@media only screen and (max-width: 745px) {
    a {
        font-size: 15px;
    }

    .Menu {
        display: none;
        width: 70%;
        background-color: rgba(29, 33, 41, .97);
    }

    .div-1 {
        height: 70%;
    }

    .Bar {
        height: 48px !important;
    }

    .CloseSearch {
        position: relative;
        width: 25%;
        left: 170px;
        bottom: 35px;
    }

    .Data {
        left: auto;
        width: 100%;
        top: 50px;
    }

    .icon-folder {
        display: none;
    }

    .darkmode {
        width: 40px;
        height: 40px;
        margin-top: -35px;
        margin-right: 5px;
    }

    .Button-M {
        display: block;
    }

    .text-file {
        margin-top: 7px;
        float: left;
    }

    .IconSearch {
        margin-top: 1px;
        height: 38px;
    }

    #SearchFile {
        margin-top: 1px;
        width: 99%;
    }

    #ClearInput {
        position: relative;
        right: 20px;
    }
}